<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Keren Rojas López. Todos los derechos reservados.</p>
      <ul class="footer-links">
        <li><a href="https://www.disneyplus.com/es-mx/series/greys-anatomy/6P4ZI3bWwSDj"><img src="./assets/disney-logo.jpg" alt=""></a></li>
        <li><a href="https://www.primevideo.com/-/es/detail/Greys-Anatomy/0HG2D8OAY23K18LPPNLYFSMW3F"><img src="./assets/Amazon-logo.png" alt=""></a></li>
        <li><a href="https://www.max.com/mx/es/shows"><img src="./assets/logo-hbo-max-2538085.webp" alt=""></a></li>
      </ul>
    </div>
</footer>  