.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
    padding-left: 95px;
  }
  
  .card {
    position: relative;
    width: 30%;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card img {
    width: 90%;
    height: 550px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    margin-top: 10px;
  }
  
  .card:hover .card-content {
   opacity: 1;
}