<div class="cards-container">
  <div class="card">
      <img src="./assets/card1.jpg" alt="Imagen Card 1" />
      <div class="card-content">
          <h3>Respira</h3>
          <p class="card-content">La escena en la que dos personas están unidas por varillas metálicas se presenta en el episodio titulado "Breathe" de la octava temporada de Grey's Anatomy. En la operación participaron:
            Miranda Bailey, Derek Shepherd, Alex Karev. <br>
          </p>
      </div>
  </div>
  <div class="card">
      <img src="./assets/card2.jpg" alt="Imagen Card 2" />
      <div class="card-content">
          <h3>Denny Duquette</h3>
          <p class="justified-text">La escena entre Izzie Stevens y Denny Duquette se desarrolla en el episodio titulado "Denny Duquette" de la segunda temporada de Grey's Anatomy. En la operación de Denny, participaron los siguientes doctores:
            Izzie Stevens, Miranda Bailey, Derek Shepherd. <br>
          </p>
      </div>
  </div>
  <div class="card">
      <img src="./assets/card3.jpg" alt="Imagen Card 3" />
      <div class="card-content">
          <h3>Ahora o Nunca</h3>
          <p class="justified-text">
              En el episodio "Ahora o Nunca" de Grey's Anatomy, George O'Malley es atropellado y llevado al hospital. En el hospital estaban presentes varios personajes importantes:
              Meredith Grey, Cristina Yang, Callie Torres, Miranda Bailey, Derek Shepherd.<br>
          </p>
      </div>
  </div>
</div>
